@import "../../../../styles/variables";

button {
  display: block;
  background-color: transparent;
  border: 1px solid $secondary-clr;
  padding: 10px 20px;
  margin-top: 25px;
  margin: 25px auto 0px auto;
  color: $secondary-clr;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-weight: 600;

  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    color: $main-clr;
    border-color: $main-clr;
  }
}
