<section id="about">
  <h2 class="section-heading">About me</h2>

  <div class="about">
    <div class="about-text">
      <p>
        Hello everyone! My name is Matija, and I am a frontend developer. In
        2019, I decided to change my career and start learning something that
        had always intrigued me: web development. Prior to this, I spent eight
        years working in various administrative roles. While these jobs provided
        me with valuable work experience, I always knew they weren't my true
        passion.
      </p>
      <br />
      <p>
        I began exploring various online tutorials and found a couple of YouTube
        channels focused on Front End Development that caught my attention. A
        friend who works as a senior Front End developer guided me as I created
        several projects, which are listed in my CV and in project section. This
        journey ignited my passion for learning new technologies.
      </p>

      <br />
      <p>
        I have accumulated professional experience from multiple front-end
        development roles. I began as a Front-End Developer at
        <a
          href="https://www.ingsoftware.com/"
          target="_blank"
          class="main-clr underline-hover"
          >Ingsoftware</a
        >, where I also completed a two-month internship program, and then
        continued as a Software Engineer at
        <a
          href="https://www.gerniks.com/?ref=itfirmeunisu.rs"
          target="_blank"
          class="main-clr underline-hover"
          >Gerniks</a
        >. In both positions, I worked on a variety of projects, including
        internal initiatives and client-based projects, which helped broaden my
        skill set and knowledge base. During this time, I specialized in the
        Angular framework and contributed to the development of two major
        projects. I am currently working as a Frontend Developer at
        <a
          href="https://www.horisen.rs/en"
          target="_blank"
          class="main-clr underline-hover"
          >Horisen</a
        >, where I continue to refine my expertise and contribute to innovative
        projects.
      </p>
    </div>
    <div class="about-technologies">
      <h3>Recently used technologies</h3>

      <div class="icon-wrapper">
        @for (techIcon of techIcons; track $index) {
        <div class="tech-icon" [innerHTML]="techIcon.svg"></div>
        }
      </div>
    </div>
  </div>
</section>
