@import "../../../styles/variables";
@import "../../../styles/mixins";
nav {
  display: flex; // Default to display flex
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0px 65px;
  width: 100%;
  height: $header-height;
  background-color: rgba(31, 34, 52, 0.85);
  box-shadow: 0 10px 30px -10px #111220;
  backdrop-filter: blur(10px);
  z-index: 10;

  .nav-links-sm {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 90px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: rgba(31, 34, 52, 0.85);
    transition: right 0.3s ease-in-out;
    gap: 50px;

    z-index: 77;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto Mono";
      font-weight: 600;
      color: $lightest-slate;
      transition: $transition;
      width: 100%;

      &:hover {
        color: $main-clr;
      }
    }

    &.active {
      right: 0;
    }

    .nav-links-socials {
      li {
        svg {
          width: 26px;
          height: 26px;
          fill: $lightest-slate !important;
          transition: $transition;
        }

        &:hover svg {
          fill: $main-clr !important;
          transform: translateY(-3px);
        }
      }
    }

    @include respond-to("md") {
      display: flex;
    }
  }

  .nav-links {
    display: flex;
    gap: 20px;

    @include respond-to("md") {
      display: none;
    }
  }
}

nav a {
  display: flex;
}

nav a img {
  width: 60px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul a {
  font-family: "Roboto Mono";
  color: $lightest-slate;
  transition: $transition;
  padding: 10px;
}

nav ul a:last-child {
  padding-right: 0;
}

nav ul a:hover {
  color: $main-clr;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
  z-index: 1;

  @include respond-to("md") {
    display: flex;
  }

  &::before,
  &::after,
  span {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $lightest-slate;
    transition: $transition;
  }

  &::before {
    position: absolute;
    top: 6px;
  }

  &::after {
    position: absolute;
    bottom: 6px;
  }

  span {
    position: absolute;
  }

  &.active {
    &::before {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &::after {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    span {
      opacity: 0;
    }
  }

  &:hover,
  &.active {
    &::before,
    &::after,
    span {
      background-color: $main-clr;
    }
  }
}
