$main-clr: #f9b17a;
$secondary-clr: #44a8b3;
$dark-slate: #1f2234;
$light-slate: #424769;
$lighter-slate: #676f9d;
$lightest-slate: #ccd6f6;
$white-clr: #ffffff;
$danger-clr: #e74c3c;

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

$header-height: 90px;

$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;

$border-radius: 4px;
$nav-height: 100px;
$nav-scroll-height: 70px;
$tab-height: 42px;
$tab-width: 120px;

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 760px,
  "lg": 992px,
  "xl": 1200px,
);
