<section id="hero" class="hero">
  <div class="text">
    <div><h1>Hi, my name is</h1></div>
    <div><h2 class="big-heading">Matija Milošević</h2></div>
    <div><h3>I develop frontend web applications.</h3></div>
    <div>
      <p>
        As a <span class="main-clr">frontend developer</span>, I've perfected my
        skills in crafting intuitive and visually appealing user interfaces that
        provide seamless user experiences. My journey in web development has
        equipped me with a strong foundation in modern frontend technologies,
        and a keen eye for design aesthetics.
      </p>
    </div>
  </div>
  <div class="portrait">
    <img
      src="../../../assets/socials/portrait-transparent.png"
      alt="My portrait"
    />
  </div>
</section>
