@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  gap: 100px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2.6s forwards;
  margin-top: -45px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;

    h1 {
      font-family: "Roboto Mono";
      color: $main-clr;
      font-size: clamp($fz-sm, 5vw, $fz-md);
    }

    h2 {
      color: $lightest-slate;
    }

    h3 {
      color: $lighter-slate;
      font-size: clamp($fz-lg, 5vw, $fz-heading);
    }

    p {
      color: $lightest-slate;
      font-size: $fz-md;
      font-weight: 400;
    }
  }

  .portrait {
    transition: $transition;
    img {
      width: 100%;
      max-width: 300px;
      min-width: 200px;
      border: 1px solid $light-slate;
      border-radius: 50%;
    }

    &:hover {
      scale: 1.05;
    }
  }

  @include respond-to("md") {
    flex-direction: column;
    margin-top: 45px;

    .text {
      text-align: center;
    }

    .portrait img {
      width: 200px;
    }
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
