@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.about {
  display: flex;
  gap: 20px;

  .about-text {
    flex: 2;
    color: $lightest-slate;
    font-size: $fz-md;
    font-weight: 400;
  }

  .about-technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    h3 {
      font-family: "Roboto Mono";
      font-weight: 400;
      color: $lightest-slate;
      margin-bottom: 20px;
      text-align: center;
    }

    .icon-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;

      .tech-icon {
        svg {
          width: 35px;
          height: 35px;
          fill: $lightest-slate !important;
          transition: $transition;
        }
        &:hover svg {
          fill: $main-clr !important;
          transform: translateY(-3px);
        }
      }
    }
  }

  @include respond-to("md") {
    flex-direction: column;
  }
}
