@import "../../../styles/variables";
@import "../../../styles/mixins";

.projects-page {
  margin: 0px 95px;
  width: 700px;

  @include respond-to("md") {
    margin: 0px 30px;
  }

  #back-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}

.table-container {
  overflow-y: auto;
  max-height: 475px;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0px 40px 0px;
  min-height: 100vh;
  width: 100%;

  table {
    background-color: $dark-slate;

    .mat-mdc-header-row {
      position: sticky;
      top: 0;
      color: $secondary-clr;

      .mat-mdc-header-cell {
        border-bottom: 1px solid $lightest-slate;
      }
    }

    .mat-mdc-row {
      transition: $transition;
      .mat-mdc-cell {
        border-bottom-color: $light-slate;
      }

      &:hover {
        background-color: $light-slate;
      }

      .mat-column-links {
        display: flex;
        height: inherit;
        align-items: center;
        gap: 10px;
      }
    }

    .mat-mdc-cell {
      color: $lightest-slate;
    }
  }
}
